# OS-specific
.DS_Store


# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
test/vagrant-spec/.vagrant/
.vagrant/
/vagrant
/pkg
data.db
vagrant-restore.db.lock
cmd/vagrant/Vagrantfile
binstubs/
*.box